In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings('ignore')

In [22]:
elc_2021_01 = pd.read_excel('C:/Users/admin/Desktop/스프린트1/광주전남 일별 전력사용량데이터/전력량추이정보+현황_2021.01.xls')
elc_2021_02 = pd.read_excel('C:/Users/admin/Desktop/스프린트1/광주전남 일별 전력사용량데이터/전력량추이정보+현황_2021.02.xls')
elc_2021_03 = pd.read_excel('C:/Users/admin/Desktop/스프린트1/광주전남 일별 전력사용량데이터/전력량추이정보+현황_2021.03.xls')
elc_2021_04 = pd.read_excel('C:/Users/admin/Desktop/스프린트1/광주전남 일별 전력사용량데이터/전력량추이정보+현황_2021.04.xls')
elc_2021_05 = pd.read_excel('C:/Users/admin/Desktop/스프린트1/광주전남 일별 전력사용량데이터/전력량추이정보+현황_2021.05.xls')
elc_2021_06 = pd.read_excel('C:/Users/admin/Desktop/스프린트1/광주전남 일별 전력사용량데이터/전력량추이정보+현황_2021.06.xls')
elc_2021_07 = pd.read_excel('C:/Users/admin/Desktop/스프린트1/광주전남 일별 전력사용량데이터/전력량추이정보+현황_2021.07.xls')
elc_2021_08 = pd.read_excel('C:/Users/admin/Desktop/스프린트1/광주전남 일별 전력사용량데이터/전력량추이정보+현황_2021.08.xls')
elc_2021_09 = pd.read_excel('C:/Users/admin/Desktop/스프린트1/광주전남 일별 전력사용량데이터/전력량추이정보+현황_2021.09.xls')
elc_2021_10 = pd.read_excel('C:/Users/admin/Desktop/스프린트1/광주전남 일별 전력사용량데이터/전력량추이정보+현황_2021.10.xls')
elc_2021_11 = pd.read_excel('C:/Users/admin/Desktop/스프린트1/광주전남 일별 전력사용량데이터/전력량추이정보+현황_2021.11.xls')
elc_2021_12 = pd.read_excel('C:/Users/admin/Desktop/스프린트1/광주전남 일별 전력사용량데이터/전력량추이정보+현황_2021.12.xls')

In [23]:
elc_2021_01.rename(columns=elc_2021_01.iloc[0],inplace=True)
elc_2021_02.rename(columns=elc_2021_02.iloc[0],inplace=True)
elc_2021_03.rename(columns=elc_2021_03.iloc[0],inplace=True)
elc_2021_04.rename(columns=elc_2021_04.iloc[0],inplace=True)
elc_2021_05.rename(columns=elc_2021_05.iloc[0],inplace=True)
elc_2021_06.rename(columns=elc_2021_06.iloc[0],inplace=True)
elc_2021_07.rename(columns=elc_2021_07.iloc[0],inplace=True)
elc_2021_08.rename(columns=elc_2021_08.iloc[0],inplace=True)
elc_2021_09.rename(columns=elc_2021_09.iloc[0],inplace=True)
elc_2021_10.rename(columns=elc_2021_10.iloc[0],inplace=True)
elc_2021_11.rename(columns=elc_2021_11.iloc[0],inplace=True)
elc_2021_12.rename(columns=elc_2021_12.iloc[0],inplace=True)

In [25]:
elc_2021_01.drop(index=0,inplace=True)
elc_2021_02.drop(index=0,inplace=True)
elc_2021_03.drop(index=0,inplace=True)
elc_2021_04.drop(index=0,inplace=True)
elc_2021_05.drop(index=0,inplace=True)
elc_2021_06.drop(index=0,inplace=True)
elc_2021_07.drop(index=0,inplace=True)
elc_2021_08.drop(index=0,inplace=True)
elc_2021_09.drop(index=0,inplace=True)
elc_2021_10.drop(index=0,inplace=True)
elc_2021_11.drop(index=0,inplace=True)
elc_2021_12.drop(index=0,inplace=True)

In [31]:
elc_2021_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 1 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   No.       31 non-null     object
 1   일         31 non-null     object
 2   고객수       31 non-null     object
 3   최대수요(kW)  31 non-null     object
 4   사용량(kWh)  31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [28]:
elc_2021=pd.concat([elc_2021_01,elc_2021_02,elc_2021_03,elc_2021_04,elc_2021_05,elc_2021_06,elc_2021_07,elc_2021_08,elc_2021_09,elc_2021_10,elc_2021_11,elc_2021_12])

In [29]:
elc_2021

   No.   일     고객수        최대수요(kW)       사용량(kWh)
1    1  01  783260   49,968,118.15  11,154,070.87
2    2  02  783281   43,576,388.06  10,820,313.94
3    3  03  783288   44,345,831.21  10,577,876.27
4    4  04  783288   49,666,971.53  11,410,542.58
5    5  05  783310   44,114,435.78  11,097,614.74
..  ..  ..     ...             ...            ...
27  27  27  722925   81,378,863.04  17,271,923.61
28  28  28  724120   87,387,746.14  13,906,304.21
29  29  29  724317   52,259,810.21  13,551,904.46
30  30  30  724111  123,001,864.68  19,575,333.57
31  31  31  723981   53,408,419.92  15,011,622.00

[365 rows x 5 columns]

In [21]:
avg = ['총계','합 계']
elc_total[elc_total['계약종별']in(avg)]

NameError: name 'elc_total' is not defined

In [4]:
temp_df['일시'] = temp_df['일시'].apply(lambda x: pd.to_datetime(str(x),format='%Y-%m'))

In [5]:
temp_df['year'] = temp_df['일시'].dt.year
temp_df['month'] = temp_df['일시'].dt.month